Package:sysnet
Version:1.4.0
Section: system
Priority: optional
Architecture: all
Depends: bash
Maintainer: Mathieu Hautebas <mathieu.hautebas@gmail.com>
Description: A tool grab system and network information.
Homepage: https://github.com/matteyeux/sysnet
